:root{
   --red:#ff2e63;
   --blue:#08d9d6;
   --black:#252a34;
   --white:#eaeaea;
}

*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}

body{
   background: #fff;
   overflow-x: hidden;
   font-family: 'Raleway', sans-serif;
}


/** Efecto Skew **/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.skew-arriba{
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    z-index:10;
}

/** Menu de Navegacion **/
#header{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #ffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color:var(--black);
}
.menu .list-container{
    margin-right: 20px;
}
.menu .list-container ul{
    display: flex;
}
.menu .list-container ul li{
    list-style: none;
}
.menu .list-container ul li a{
    text-decoration: none;
    margin:0px 10px;
    padding:8px;
    color:var(--black);
    border-radius: 24px;
    transition: 0.3s;
    font-size: 16px;
}
.menu .list-container ul li a.activo{
    background:var(--red);
    color: #ffff;
}
.menu .list-container ul li a:hover{
    background:var(--red);
    color: #ffff;
}

.btn-menu > .fa-bars{
    display: none;
}


/**header **/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/ya.gif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .welcome h1{
    font-size: 50px;
    color:#fff;
    font-weight: 200;
}
.img-header .welcome hr{
    width: 400px;
    height: 2px;
    background: #fff;
    border:none;
    margin-top: 5px;
}
.img-header .welcome p{
    font-size: 20px;
    color: #ffff;
    margin-top: 20px;
}
.img-header .welcome > button{
    width: 170px;
    height: 40px;
    background:var(--red);
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 22px;
    color:#fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-header .welcome > button:hover{
    background: var(--blue);
}



/** Acerca de Nosotros **/
.infor{
    width: 100%;
    margin-top: 120px;
}
.infor .info-container{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.infor .info-container h1{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.infor .info-container p{
    text-align: center;
    font-size: 17px;
    color:var(--black);
    line-height: 35px;
    margin:10px 0px;
}
.infor .info-container .about-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:50px 10px;
}
.infor .info-container .about-gallery img{
    width:calc(33.333% - 10px);
    height: 300px;
    margin:10px 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.infor .info-container .about-more{
    width: 100%;
    display: flex;
    justify-content: center;
}
.infor .info-container .about-more button{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background: var(--red);
    border:none;
    outline: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.infor .info-container .about-more button:hover{
    background: var(--blue);
}

/**Query **/
@media only screen and (max-width:900px){
   .btn-menu > .fa-bars{
       display: block;
       position: absolute;
       right: 30px;
       top: 20px;
       font-size: 28px;
       color:var(--black);
       transition: 0.5s;
       cursor: pointer;
   }
   .btn-menu > .fa-bars:hover{
    color:var(--red);
   }
   .btn-menu > .fa-times{
       color:var(--red);
   }
   .menu .list-container{
       position:fixed;
       top: 60px;
       left: -100%;
       background: #ffff;
       width: 100%;
       height: calc(100vh - 60px);
   }
   .menu .list-container .lists{
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       border-top:4px solid var(--red);
   }
   .menu .list-container .lists li{
       width: 90%;
       border-bottom: 2px solid var(--black);
       display: flex;
       justify-content: center;
   }
   .menu .list-container .lists li a{
       font-size:20px;
       text-align: center;
       padding:12px 0px;
   }
   .menu .list-container .lists li a.activo{
       background: none;
       color:var(--red);
   }
   .menu .list-container .lists li a:hover{
    background: none;
    color:var(--red);
   }

}

@media only screen and (max-width:773px) {
   
    /** IMG header **/
    .img-header .welcome h1{
        font-size:40px;
    }
    .img-header .welcome > button{
        width: 130px;
        font-size: 20px;
    }

    /** Acerca de Nosotros **/
    .infor .info-container .about-gallery{
        flex-direction: column;
    }
    .infor .info-container .about-gallery img{
        width: 100%;
    }

    

}
@media only screen and (max-width:590px) {
   /** Img Header **/
   .img-header .welcome h1{
       font-size: 30px;
   }
   .img-header .welcome hr{
       width: 100px;
   }
   .img-header .welcome p{
       font-size: 17px;
   }
   .img-header .welcome > button{
       width: 100px;
       font-size:17px;
   }

}